# Bytecode
__pycache__/

# Virtual Environment
venv/
.venv/
env/
ENV/

# Testing
.pytest_cache/

# Logs
*.log
logs/

# Environment variables
.env
.env.*
!.env.example
docker-compose.yml

# Temporary files
tmp/
temp/
.cache/